window{
/*	  background-image: url("../img/background2.jpg");

  background-position: center;
  background-size: cover;*/
}
#fixed{
}
#gride {
  background: #ffffff;
  border-radius: 15px;
  padding: 70px;  
}
#image{
	padding-bottom: 25px; 
}
#Login{
	border-width: 10px;
}
#reg,#log{
  box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  background-color:#79bbff;
  border-radius:6px;
  border:1px solid #84bbf3;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #528ecc;
}
#reg:hover {
  background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
  background-color:#378de5;
}

#log:hover {
  background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
  background-color:#378de5;
}
#chatrow{
  background-color:#fbfafa;
  border: 1px solid #ecebeb;
  color:black;
}
#listboxleft{
  background-color:#fbfafa;
  border: 1px solid #ecebeb;
}
#leftbox{
  background-color:#dbd7d3;
  border: 2px solid #c8c2bc;
}
#searchmenu{
  background-color:#f1f1f1;
  font-size: 24px;
}
#rightbox{
  background-color:#dbd7d3;
  border: 2px solid #c8c2bc;
}
#downbox{
  background-color:#ffffff;
}
#newmessedgentry{
background: transparent;
border: none;
}
#listboxmess{
 /* background-image: url("../img/background2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
  background: linear-gradient(to left, #6988eb 0%, #3333cd 53%, #1d9090 100%);
}
#message{
  background-color: #ffffff;
  border-radius: 15px;
  padding: 3px;
}
#minilistbox{
  background-color: #ffffff;
}
#editgrid{
  background: #ffffff;
  border-radius: 15px;
  padding: 40px;  

}
#stickerwindow{
  background-color: white;
  background-image:none;
}
#labellmenu2bold{
font-weight: bold;
background: transparent;
border: none;
}
#labellmenu2italic{
font-style: italic;
background: transparent;
border: none;
}
#labellmenu2red{
color:red;
background: transparent;
border: none;
}
#labellmenu2big{
font-size: 30px;
 background: transparent;
border: none; 
}
#labellmenu2small{
  font-size: 10px;
 background: transparent;
border: none; 
}
#labellmenu2yellow{
  color:yellow;
background: transparent;
border: none;
}
/*#minibuttonfind{
  box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  background-color:#9dd1d1;
  border-radius:6px;
  border:1px solid #84bbf3;
  color:#213838;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #528ecc;

}*/
